/* --- RESET --- */

html, body, header, nav, h1, a, ul, li,
strong, main, section, img, div, h2, p,
form, fieldset, label, input, textarea,
button, article, footer, small, canvas {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  box-sizing: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  color: inherit;
  background: transparent;
}

ul {
  list-style: none;
}

input, textarea {
  background: #ccc;
  color: #000
}



/* --- CLEARFIX --- */

.group:after {
  content: "";
  clear: both;
  display: block;
}

/* --- BOARD --- */

.game-canvas {
  position: relative;
  height: 80%;
  width: 80%;
  float: left;
  margin: 150px;
}

.hud {
  position: absolute;
  color: #fff;
  top: 10px;
  left: 10px;
}

#game-canvas {
  background-image: url('./asteroid_storm.jpeg');
  border: 2px solid black;
  float: left
}

.info-sidebar {
  float: left;

  width: 100%;

}

.stats {
  float: left
}

.instructions {
  float: left;
  width: 500px;
  border: 2px solid black;
}

body {
  background: #aaa
}

.you-win {
  position: absolute;
  height: 30%;
  width: 30%;
  left: 35%;
  top: 25%;
  background: red;
  opacity: .9;
}

.text {
  position: relative;
  text-align: center;
  top: 30%;
}


.new-game {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #ccc;

}

.title {
  font-size: 36px;
  text-align: center;
}
